**/bin          
**/obj
.git
.gitignore
.vs                                                                                                    
.vscode
.idea                                                                                                  
*.md            
Dockerfile
docker-compose.yml